body {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin: 300px;
    background-image: url('../img/animes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;

}
div {
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0.90;
}
img {
    width: 500px;
}
h1 {
    color: aliceblue;
}
p {
    color: aliceblue;
}
.White{
    color: #ffffff;
}

.botao{
    border: solid 1px #ffffff;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color:#000000;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items: center;
    width: 24.8%;
    height: 70px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(255, 255, 255);  
}
.botao:hover{
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    transform: scale(1.2)}

    header{

        width: 100%;
        background-color:rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
        border: #ffffff;
        border-radius: 30px;
        border-style: solid;
        border-width: 10px;
        
        }
        
        .logo-imagem{
        width: 50%;
        height: 50%;
        background-color: rgb(0, 0, 0);
        border-radius: 25px;
        
        }
        .conteier-logo{
        display: flex;
        align-items: center;
        }
        
        .logo-texto{
        margin-left: 20px;
        color: rgb(0, 0, 0);
        }
        
        .manu li{
        display: inline-block;
        margin: 0 10px;
        width: 100px;
        }
        .manu {
        font-size: 1px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        background-color:rgb(0, 0, 0);
        padding:10px 40px;
        align-items: center;
    }